<div class="text-center">
  <div class="container-fluid">
    <img src="assets/image/burger.png" class="img-fluid rounded burger-img mt-1">
    <h1 class="display-5 title">Eat-Da-Burger!</h1>

    <div class="row">

      {{!-- Left Side for to-be-devoured burgers --}}
      <div class="col aligh-right" id="left-col">
        <div class="text-right ml-auto mr-3">
          {{#each burgers}}
            {{#unless this.Burger.devoured}}
            <div class="row mt-1">
              <div class="col-4 text-right ml-auto">
                {{this.Burger.name}}
              </div>
            
              <div class="col-auto">
                <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" id="{{this.Burger.id}}" placeholder="Enter Your Name">
                  </div>
                </form>
              </div>
              
              <div class="col-auto ml-auto">
                <button class="btn btn-sm btn-outline-danger devour" burgerId="{{this.Burger.id}}">
                  Devour It!
                </button>
              </div>
            </div>
            {{/unless}}
          {{/each}}
        </div>
      </div>

      {{!-- Right Side for not yet devoured ones --}}
      <div class="col" id="right-col">
        <div class="text-left mr-auto ml-5">
          {{#each burgers}}
            {{#if this.Burger.devoured}}
              <div class="mb-1">
                {{this.Burger.name}} eaten by {{this.User.name}}
                <button class="btn btn-sm btn-outline-dark remove" burgerId="{{this.id}}">
                  Remove
                </button>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>

    </div>

    {{!-- Add a burger --}}
    <p class="lead">Enter a burger name you want to eat</p>
    <form id="add-burger">
      <div class="form-group mx-auto" style="width: 35%">
        <textarea type="text" class="form-control form-control-md" name="bname" id="burger"></textarea>
      </div>
      <button type="submit" class="btn btn-danger">Add Your Burger</button>
    </form>
    
    <p class="text-left"><h3><a href="/data/by_user">Burger Stats</a></h3></p>
  </div>
</div>